In [10]:
#1
class Animal:
    def speak(self):
        print("Animal speaks")

class Dog(Animal):
    def speak(self):
        print("Bark!")

d = Dog()
d.speak()

Bark!

In [9]:
#2
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius ** 2

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

c = Circle(5)
r = Rectangle(4, 6)
print(c.area())
print(r.area())

78.5
24

In [7]:
class Vehicle:
    def __init__(self, type):
        self.type = type

class Car(Vehicle):
    def __init__(self, type, brand):
        super().__init__(type)
        self.brand = brand

class ElectricCar(Car):
    def __init__(self, type, brand, battery):
        super().__init__(type, brand)
        self.battery = battery

e_car = ElectricCar("Electric", "Tesla", "100 kWh")
print(e_car.type, e_car.brand, e_car.battery)

Electric Tesla 100 kWh

In [11]:
#4
class Bird:
    def fly(self):
        print("Some bird is flying")

class Sparrow(Bird):
    def fly(self):
        print("Sparrow flies high")

class Penguin(Bird):
    def fly(self):
        print("Penguins cannot fly")

for bird in (Sparrow(), Penguin()):
    bird.fly()

Sparrow flies high
Penguins cannot fly

In [12]:
#5
class BankAccount:
    def __init__(self):
        self.__balance = 0

    def deposit(self, amount):
        self.__balance += amount

    def withdraw(self, amount):
        if amount <= self.__balance:
            self.__balance -= amount

    def get_balance(self):
        return self.__balance
account = BankAccount()
account.deposit(1000)
account.withdraw(500)
print(account.get_balance())

500

In [13]:
#6
class Instrument:
    def play(self):
        print("Playing an instrument")

class Guitar(Instrument):
    def play(self):
        print("Strumming the guitar")

class Piano(Instrument):
    def play(self):
        print("Playing the piano")


for instrument in (Guitar(), Piano()):
    instrument.play()

Strumming the guitar
Playing the piano

In [14]:
#7
class MathOperations:
    @classmethod
    def add_numbers(cls, a, b):
        return a + b

    @staticmethod
    def subtract_numbers(a, b):
        return a - b

# Usage
print(MathOperations.add_numbers(5, 3))
print(MathOperations.subtract_numbers(10, 4))

8
6

In [ ]:
#8
class Person:
    count = 0

    def __init__(self):
        Person.count += 1

    @classmethod
    def total_persons(cls):
        return cls.count

In [15]:
#9
class Fraction:
    def __init__(self, numerator, denominator):
        self.numerator = numerator
        self.denominator = denominator

    def __str__(self):
        return f"{self.numerator}/{self.denominator}"

# Usage
f = Fraction(3, 4)
print(f)

3/4

In [16]:
#10
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y)

    def __str__(self):
        return f"({self.x}, {self.y})"

# Usage
v1 = Vector(2, 3)
v2 = Vector(4, 1)
print(v1 + v2)

(6, 4)

In [17]:
#11
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        print(f"Hello, my name is {self.name} and I am {self.age} years old.")

# Usage
p = Person("Alice", 30)
p.greet()

Hello, my name is Alice and I am 30 years old.

In [18]:
#12
class Student:
    def __init__(self, name, grades):
        self.name = name
        self.grades = grades

    def average_grade(self):
        return sum(self.grades) / len(self.grades)

# Usage
s = Student("Bob", [85, 90, 95])
print(s.average_grade())

90.0

In [19]:
#13
class Rectangle:
    def set_dimensions(self, width, height):
        self.width = width
        self.height = height

    def area(self):
        return self.width * self.height

# Usage
r = Rectangle()
r.set_dimensions(4, 5)
print(r.area())

20

In [20]:
#14
class Employee:
    def calculate_salary(self, hours, rate):
        return hours * rate

class Manager(Employee):
    def calculate_salary(self, hours, rate, bonus):
        base = super().calculate_salary(hours, rate)
        return base + bonus

# Usage
m = Manager()
print(m.calculate_salary(40, 50, 500))

2500

In [21]:
#15
class Product:
    def __init__(self, name, price, quantity):
        self.name = name
        self.price = price
        self.quantity = quantity

    def total_price(self):
        return self.price * self.quantity

# Usage
p = Product("Laptop", 1000, 2)
print(p.total_price())

2000

In [22]:
#16
from abc import ABC, abstractmethod

class Animal(ABC):
    @abstractmethod
    def sound(self):
        pass

class Cow(Animal):
    def sound(self):
        print("Moo")

class Sheep(Animal):
    def sound(self):
        print("Baa")

# Usage
Cow().sound()
Sheep().sound()

Moo
Baa

In [23]:
#17
class Book:
    def __init__(self, title, author, year_published):
        self.title = title
        self.author = author
        self.year_published = year_published

    def get_book_info(self):
        return f"'{self.title}' by {self.author} ({self.year_published})"

# Usage
b = Book("1984", "George Orwell", 1949)
print(b.get_book_info())

'1984' by George Orwell (1949)

In [24]:
#18
class House:
    def __init__(self, address, price):
        self.address = address
        self.price = price

class Mansion(House):
    def __init__(self, address, price, number_of_rooms):
        super().__init__(address, price)
        self.number_of_rooms = number_of_rooms

# Usage
m = Mansion("123 Luxury Lane", 2000000, 12)
print(m.address, m.price, m.number_of_rooms)

123 Luxury Lane 2000000 12